In [23]:
import findspark

In [24]:
findspark.init('/home/namratha/spark')

In [25]:
from pyspark.sql import *
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import *

In [26]:
df= spark.read.option("inferSchema", "true").csv("s3a://AKIASLMIF4RESS5R34MQ:Qt4sArzw0Wn3ee0Q%2FL+tDgzg1xgyYdO%2F%2FhRCaRoi@stockprojectbl/StockData.csv", header=True)

In [27]:
df.show()

+-------------------+------+------+------+------+------+
|                  0|     1|     2|     3|     4|     5|
+-------------------+------+------+------+------+------+
|               time|  open|  high|   low| close|volume|
|2021-12-01 19:31:00|117.03|117.03|117.03|117.03|   150|
|2021-12-01 19:03:00|117.43|117.43|117.43|117.43|   250|
|2021-12-01 18:26:00| 117.1| 117.1| 117.1| 117.1|   438|
|2021-12-01 18:01:00|117.15|117.15|117.15|117.15|   100|
|2021-12-01 17:48:00|116.95|116.95|116.95|116.95|   151|
|2021-12-01 17:17:00|116.93|116.93|116.93|116.93|   600|
|2021-12-01 17:15:00|116.93|116.93|116.93|116.93|   194|
|2021-12-01 17:11:00|116.96|116.96|116.96|116.96|   105|
|2021-12-01 17:10:00|116.99|116.99|116.99|116.99|   116|
|2021-12-01 17:01:00| 117.0| 117.0| 117.0| 117.0|   305|
|2021-12-01 16:48:00| 117.2| 117.2| 117.2| 117.2|   100|
|2021-12-01 16:39:00|117.01|117.01|117.01|117.01|   514|
|2021-12-01 16:26:00|117.43|117.43|117.43|117.43|   125|
|2021-12-01 16:17:00| 117.0| 117.0| 117.0| 117.0|   250|
|2021-12-01 16:04:00|116.92|116.92|116.92|116.92| 16276|
|2021-12-01 16:03:00|116.92|116.92|116.92|116.92| 34102|
|2021-12-01 16:02:00|116.92|116.92|116.92|116.92|  1298|
|2021-12-01 16:01:00|116.92|116.92|116.67|116.67|435965|
|2021-12-01 16:00:00|117.03|117.07|116.85|116.92|143620|
+-------------------+------+------+------+------+------+
only showing top 20 rows

In [28]:
df.printSchema()

root
 |-- 0: string (nullable = true)
 |-- 1: string (nullable = true)
 |-- 2: string (nullable = true)
 |-- 3: string (nullable = true)
 |-- 4: string (nullable = true)
 |-- 5: string (nullable = true)

In [29]:
#select the row with the header name 
header = df.filter((df['0'] == 'time') & (df['1'] == 'open') & (df['2'] == 'high') & (df['3'] == 'low') & (df['4'] == 'close') & (df['5'] == 'volume'))

#selecting the rest of the rows except the first one 
restDF = df.subtract(header)

#converting the header row into Row 
headerColumn = header.first()

#looping columns for renaming 
for column in restDF.columns:
    restDF = restDF.withColumnRenamed(column, headerColumn[column])

restDF.show(truncate=False)

+-------------------+--------+--------+--------+--------+------+
|time               |open    |high    |low     |close   |volume|
+-------------------+--------+--------+--------+--------+------+
|2021-12-01 14:15:00|117.62  |117.75  |117.62  |117.73  |10236 |
|2021-12-01 11:53:00|118.6   |118.6648|118.59  |118.59  |4635  |
|2021-12-01 08:19:00|118.4   |118.4   |118.4   |118.4   |100   |
|2021-11-30 14:11:00|117.51  |117.52  |117.475 |117.4836|16112 |
|2021-11-29 10:26:00|119.0   |119.0197|118.95  |118.975 |17818 |
|2021-11-26 12:51:00|115.79  |115.8   |115.64  |115.665 |18385 |
|2021-11-26 12:21:00|115.95  |116.02  |115.94  |116.015 |9226  |
|2021-11-26 10:47:00|115.8699|115.8699|115.76  |115.7925|8950  |
|2021-11-24 10:32:00|116.45  |116.5   |116.35  |116.35  |12700 |
|2021-11-23 13:03:00|116.84  |116.88  |116.82  |116.87  |11141 |
|2021-11-22 14:27:00|117.17  |117.19  |117.03  |117.07  |22143 |
|2021-11-22 12:57:00|117.31  |117.39  |117.31  |117.375 |2940  |
|2021-11-22 12:55:00|117.28  |117.29  |117.2795|117.28  |1795  |
|2021-11-19 15:34:00|115.88  |115.895 |115.875 |115.895 |4668  |
|2021-11-19 14:49:00|115.6966|115.7   |115.68  |115.69  |7429  |
|2021-11-19 09:49:00|116.16  |116.305 |116.12  |116.305 |36701 |
|2021-11-18 10:14:00|116.52  |116.55  |116.46  |116.538 |17546 |
|2021-11-17 13:59:00|118.17  |118.17  |118.15  |118.17  |2486  |
|2021-11-17 11:58:00|118.3922|118.42  |118.371 |118.3999|9987  |
|2021-11-16 14:58:00|118.7262|118.7453|118.72  |118.735 |5060  |
+-------------------+--------+--------+--------+--------+------+
only showing top 20 rows

In [32]:
df = df.sort_values(by='time')
df.show()

AttributeError: 'DataFrame' object has no attribute 'sort_values'